html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: hsla(210, 30%, 24%, 0.096);
    color: #333;
}

/* Navigation */
.nav {
    background-color:  whitesmoke;
    text-align: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav a {
    list-style: triangle;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.nav  {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0.20px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color:antiquewhite
}
.home {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to right, #3e2723, #6d4c41);
    color: white;
}
.home img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login-box {
    background-color: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-box h2 {
    margin-bottom: 15px;
}

.login-box input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 95%;
    padding: 8px;
    background-color: #6b4b3e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #4e342e;
}


/* Home */
.home {
    text-align: center;
    padding: 40px;
    background-color: #34495e;
    color: white;
}

.home img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

/* Sections */
section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
